<div class="container py-4">
    <h1 class="mb-0">
        Sandbox
    </h1>

    <div class="row">
        <h3 class="col-md-7 pt-3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias amet dolor dolorem eligendi incidunt ipsa, officia optio possimus quos.
        </h3>
    </div>

    <form class="row pt-3">
        <div class="col-md-4">
            <mat-form-field class="w-100">
                <input
                    matInput
                    type="text"
                    placeholder="Amount of money"
                >
                <span matSuffix>EUR</span>
            </mat-form-field>
        </div>
    </form>
</div>

